
    <lucide-angular [img]="Search" class="
                    absolute
                    left-3
                    top-1/2 transfor
                    -translate-y-1/2 
                    text-[var(--muted-foreground)] 
                    w-4 h-4">
    </lucide-angular>
    <input [placeholder]="placeholder" [name]="name" [ngClass]="[
    'file:text-[var(--foreground)]',
    'placeholder:text-[var(--muted-foreground)]',
    'border-[var(--border)]',
    'bg-[var(--input-background)]',
    'flex',
    'h-9',
    'w-full',
    'min-w-0',
    'rounded-md',
    'px-3',
    'py-1',
    'outline-none',
    'md:text-sm',
  ]" />
