<section class="bg-[var(--color-indigo-100)] py-16 lg:py-24">
    <div class="container mx-auto px-4 sm-px-6 lg:px-8">
        <div class="text-center max-w-4xl mx-auto">
            <div class="mx-auto text-center">
                <h1 class="text-4xl lg:text-6xl mb-6 text-gray-900"> {{title()}}</h1>
                <p class="text-xl text-gray-600 mb-12 max-w-2xl mx-auto">{{content()}}</p>
                <div class="bg-white rounded-2xl shadow-lg p-6 mb-12">
                    <div class="flex justify-between">
                        <div class="relative
                w-[calc(25%)]
                flex border 
                border-[var(--input-background)]
                bg-[var(--input-background)] 
                rounded-md
                ">
                            <app-input placeholder="Doctor's name" class="pl-10">

                            </app-input>
                        </div>
                        <div>
                            <p>Location</p>
                        </div>
                        <div>
                            <p>Availability</p>
                        </div>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 sm:grid-cols-1  gap-8">
                    <div class="text-center">
                        <div class="text-3xl mb-2">
                            500+
                        </div>
                        <p class="text-[var(--muted-foreground)]">
                            Verified Doctors
                        </p>
                        </div>
                        <div class="text-center">
                            <div class="text-3xl mb-2">
                                50+
                            </div>
                            <p class="text-[var(--muted-foreground)]">
                                Specialties
                            </p>
                        </div>
                        <div class="text-center">
                            <div class="text-3xl mb-2">
                                10k+
                            </div>
                            <p class="text-[var(--muted-foreground)]">
                                Happy Patients
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

</section>